{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="page-header">FILES IN TRASH</h1>
            <table class="table table-striped table-hover">
                <thead>
                  <tr class="success">
                    <td>FILE NAME</td>
                    <td>ORIGINAL LOCATION</td>
                    <td>SIZE</td>
                    <td>TYPE</td>
                    <td>DELETION DATE</td>
                    <td>STATE</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                    {% for obj in trash_list %}
                        <tr>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.original_location }}</td>
                            <td>{{ obj.size|filesizeformat }}</td>
                            <td>{{ obj.type }}</td>
                            <td>{{ obj.deletion_date }}</td>
                            <td>{{ obj.state }}</td>
                            <td>
                                <div style="display: flex;">
                                    <form method="post", action="{% url 'trashes:restore' id=trash_id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="file_name" value="{{ obj.name}}">
                                        <button type="submit" class="save btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></button>
                                    </form>
                                    <form method="post", action="{% url 'trashes:clear' id=trash_id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="file_name" value="{{ obj.name }}">
                                        <button type="submit" class="save btn btn-primary"><span class="glyphicon glyphicon-thumbs-down"></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="text-center bg-defaulte">
                                <small>No files</small>
                            </td>
                        <tr>
                    {% endfor %}
                    <form method="post", action="{% url 'trashes:restore' id=trash_id %}">
                        {% csrf_token %}
                        <input type="hidden" name="file_name" value="">
                        <button type="submit" class="save btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></button>
                    </form>
                    <form method="post", action="{% url 'trashes:clear' id=trash_id %}">
                        {% csrf_token %}
                        <input type="hidden" name="file_name" value="">
                        <button type="submit" class="save btn btn-primary"><span class="glyphicon glyphicon-thumbs-down"></button>
                    </form>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
