{% extends 'base.html' %}

  {% block content %}

    <div class="container">
      <div class="jumbotron">
        <h1 class="page-header">TRASHES</h1>

        <table class="table table-striped table-hover">
          <thead>
            <tr class="success">
            <td>TRASH NAME</td>
            <td>TOTAL SPACE</td>
            <td>FREE SPACE</td>
            <td>MAX FILE SIZE</td>
            <td>MAX FILE TIME</td>
            <td></td>
            </tr>
          </thead>

          <tbody>
            {% for trash in trashes %}

              <tr>
                <td><a href="{% url 'trashes:detail' id=trash.id %}">
                  {{ trash.trash_path }}</a></td>

                <td>{{ trash.max_trash_size|filesizeformat }}</td>

                <td>{{ trash.free_space|filesizeformat }}</td>

                <td>{{ trash.max_file_size|filesizeformat }}</td>

                <td>{{ trash.max_file_time }}</td>

                <td>
                  <div style="display: flex;">
                    <a href="{% url 'trashes:update' id=trash.id %}" class="save btn btn-success">
                      <span class="glyphicon glyphicon-pencil"></a>

                    <form method="post" action="{% url 'trashes:delete' id=trash.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></button>
                    </form>
                  </div>
                </td>
              </tr>

            {% endfor %}
          </tbody>

        </table><br/>

        <a href="{% url 'trashes:create' %}" ><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>

  {% endblock %}
