{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <div style="display: flex; justify-content: space-between;">
        <h1 class="page-header">CHANGE TRASH</h1>
      </div>
      <form action="{% url 'trashes:update' id=trash_id %}" method="POST" class="post-horizontal">
        <fieldset>

        <div class="fieldWrapper" class="form-group">
        <p><label for="id_trash_path" class="col-lg-3 control-label">Trash path:</label>
          <div class="col-lg-7">
          <input class="form-control" type="text" name="trash_path" value="{{form.trash_path.value}}"
            required id="id_trash_path" maxlength="200" />
          </div></p></div><br></br>
        <div class="fieldWrapper" class="form-group">
        <p><label for="id_max_file_size" class="col-lg-3 control-label">Max file size:</label>
          <div class="col-lg-7">
           <input class="form-control" type="text" name="max_file_size" value="{{form.max_file_size.value}}"
           required id="id_max_file_size" maxlength="10" />
         </div></p></div><br></br>
        <div class="fieldWrapper" class="form-group">
        <p><label for="id_max_file_time" class="col-lg-3 control-label">Max file time:</label>
          <div class="col-lg-7">
           <input class="form-control" type="text" name="max_file_time" value="{{form.max_file_time.value}}"
           required id="id_max_file_time" maxlength="10" />
         </div></p></div><br></br>
         <div class="fieldWrapper" class="form-group">
         <p><label for="id_max_trash_size" class="col-lg-3 control-label">Max trash size:</label>
           <div class="col-lg-7">
            <input class="form-control" type="text" name="max_trash_size" value="{{form.max_trash_size.value}}"
            required id="id_max_trash_size" maxlength="10" />
          </div></p></div><br></br>
       </fieldset>
        {% csrf_token %}
        <br></br>
        <div class="col-lg-3 control-label">
        <input name="submit" value="OK" type="submit" class="save btn btn-success">
        </input>

      </div>
      </form>

      <form method="post" action="{% url 'trashes:delete' id=trash_id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></button>
      </form>
    </div>
  </div>
{% endblock %}
