{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>smart_rm_app</title>

  	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
  </head>

  <body>
  	<nav class="navbar navbar-inverse">
  	<div class="container-fluid">
  		<ul class="nav navbar-nav">
  			<li><a href="{% url 'home' %}">Home</a></li>
  			<li><a href="{% url 'trashes:list' %}">Trashes</a></li>
  			<li><a href="{% url 'tasks:list' %}">Tasks</a></li>
  		</ul>
  	</div>
  	</nav>

  	<div class="content">
  	   {% block content %}
  	   {% endblock %}
  	</div>
  </body>

</html>
