{% extends "base.html"%}
{% block content %}
<div class="container">

  <div class="jumbotron">
    <div class="container-fluid">
      <h1 class="page-header">SMART RM APPLICATION</h1>
      <p><blockquote>This is the web interface of the utility <em>smart_rm</em>, which supports the:
      <ul><font size="4">
        <li> View known trashes (list, separate trash in detail);</li>
        <li> Creation, change modifications and delete trashes;</li>
        <li> View tasks (list, separate task in details);</li>
        <li> Creation, managment and display the status of tasks.</li>
        </font>
      </ul></blockquote>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>Trashes</h2>
        <p><blockquote>Trash's characteristics:
            <ul>
              <li>Trash path</li>
              <li>Max size of basket</li>
              <li>Max file size to keep in</li>
              <li>Max time to keep files in</li>
            </ul></blockquote>
        </p>
        <p><a class="btn btn-success" href="{% url 'trashes:create' %}" role="button">Create trash &raquo;</a></p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="jumbotron">
        <h2>Tasks</h2>
        <p><blockquote>Task's characteristics:
            <ul>
              <li>Task name</li>
              <li>Trash path</li>
              <li>Regex</li>
            </ul></blockquote>
        </p>
        <br>
        <p><a class="btn btn-success" href="{% url 'tasks:list' %}" role="button">View known tasks &raquo;</a></p>
      </div>
    </div>
  </div>



</div>
{% endblock %}
