{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
        <div style="display: flex; justify-content: space-between;">
            <h1 class="page-header">TASK DETAIL</h1>

        </div>
        <table class="table table-striped table-hover">
            <thead>
              <tr class="success">
                <td>FILE NAME</td>
                <td>COMMENTS</td>
                <td>STATUS</td>
              </tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr>
                        <td>{{ file.path }}</td>
                        {% if file.error_message %}
                          <td>{{ file.error_message }}</td>
                        {% else %}
                          <td></td>
                        {% endif %}
                        <td>{{ file.status_name }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center bg-defaulte">
                            <small>No files</small>
                        </td>
                    <tr>
                {% endfor %}
            </tbody>
        </table>
          <div>
              <form method="post"  style = "float: left" action="{% url 'tasks:execute' id=task_id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success">
                      <span class="glyphicon glyphicon-play"></span>
                  </button>
              </form> &ensp;&nbsp;
              <a style = "float: left" class="btn btn-info" href="{% url 'tasks:get_files' id=task_id path='' %}">Add files</a>
              <a style = "float: left" class="btn btn-primary" href="{% url 'tasks:add_by_regex' id=task_id %}">Add files by regex</a>
          </div>
        </div>
    </div>
{% endblock %}
