{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {% for item in items %}
          <div class="col-md-12" style="border-bottom: 1px solid #ddd; padding: 5px 0; display: flex; justify-content: space-between;">
            <div>
              {% if item.is_dir %}
                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>&nbsp;
                <a href="{% url 'tasks:get_files' id=task_id path=item.path %}">
                    {{ item.name }}
                </a>
              {% else %}
                <div class="col-md-12" style="padding: 5px 0">
                  <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp; {{ item.name }}
                </div>
              {% endif %}
            </div>
            <div>
              {% if item.belongs_to_task %}
                <form method="post", action="{% url 'tasks:remove_file_from_task' id=task_id %}">
                {% csrf_token %}
                  <input type="hidden" name="path" value="{{ item.path }}">
                  <button type="submit" class="btn btn-default">remove from task</button>
                </form>
              {% else %}
                <form method="post", action="{% url 'tasks:add_file_to_task' id=task_id %}">
                {% csrf_token %}
                  <input type="hidden" name="path" value="{{ item.path }}">
                  <button type="submit" class="btn btn-default">add to task</button>
                </form>
              {% endif %}
            </div>
          </div>
        {% endfor %}

        <ul class="pagination nav navbar-nav">
            {% for page in paginator.page_range %}
                <li class="{% if items.number == page  %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
         </ul>
      </div>
    </div>
  </div>
{% endblock %}
