{% extends 'base.html' %}

  {% block content %}

    <div class="container">
      <div class="jumbotron">
        <h1 class="page-header">TASKS</h1>

        <table class="table table-striped table-hover">
          <thead>
            <tr class="success">
            <td>TASK NAME</td>
            <td>TRASH</td>
            <td>EXECUTED</td>
            <td></td>
            </tr>
          </thead>

          <tbody>
            {% for task in tasks %}

              <tr>
                <td><a href="{% url 'tasks:detail' id=task.id %}">
                  {{ task.name }}</a></td>

                <td>{{ task.trash.trash_path }}</td>
                
                <td>
                  {% if task.executed %}
                    <span class="glyphicon glyphicon-ok"></span>
                  {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                  {% endif %}
                </td>

                <td>
                  <div style="display: flex;">
                    <a href="{% url 'tasks:update' id=task.id %}" class="save btn btn-success">
                      <span class="glyphicon glyphicon-pencil"></a>

                    <form method="post" action="{% url 'tasks:delete' id=task.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></button>
                    </form>
                     <form method="post" action="{% url 'tasks:execute' id=task.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-play"></span></button>
                    </form>
                  </div>
                  {# <a href="/smart_rm_app/trashes/delete/{{ trash.id }}"> #}
                    {# <span class="glyphicon glyphicon-trash"></a> #}
                </td>
              </tr>

            {% endfor %}
          </tbody>

        </table><br/>

        <a href="{% url 'tasks:create' %}" ><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>

  {% endblock %}
