{% extends 'base.html' %}
  {% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1 class="page-header">CREATE NEW TASK</h1>
         <form action="{% url 'tasks:create' %}" method="post" style="form-horizontal">
           <fieldset>

            {{ form.as_p }}

          </fieldset>
          {% csrf_token %}
          <br></br>
          <div class="col-lg-2 control-label">
          <input type="submit" name="submit" value="OK"
            class="btn btn-default"></input></div>

          </form>
      </div>
    </div>
{% endblock %}
