{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <div style="display: flex; justify-content: space-between;">
      <h1 class="page-header">ADD REGEX TASK</h1>
    </div>
    <form method="post" action={% url 'tasks:add_by_regex' id=task_id %} class="form-horizontal">
        {% csrf_token %}
        <div class="fieldWrapper" class="form-group">
        <p><label for="regex" class="col-lg-3 control-label">Regular expression:</label>
          <div class="col-lg-7">
          <input class="form-control" type="text" name="regex" holdplacer="test"
            required id="regex" maxlength="100" />
          </div></p></div><br></br>
        <div class="fieldWrapper" class="form-group">
        <p><label for="directory" class="col-lg-3 control-label">Directory:</label>
          <div class="col-lg-7">
          <input class="form-control" type="text" name="directory" holdplacer="/home/ana"
            required id="directory" maxlength="100" />
          </div></p></div><br></br>
          </<br></br>
          <div class="col-lg-3 control-label">
              <button type="submit" class="btn btn-success" style="margin-top:10px;">Create task</button>
          </div>
          </<br></br>
    </form>
    </div>
  </div>
{% endblock %}
