{% extends 'base.html' %}
  {% block content %}
    <div class="container">
      <div class="jumbotron">
        <div style="display: flex; justify-content: space-between;">
          <h1 class="page-header">CHANGE TASK "{{ task.name }}"</h1>

        </div>
        <form action="{% url 'tasks:update' id=task.id %}" method="post" style="form-horizontal">
           <fieldset>
            {{ form.as_p }}

          </fieldset>
          {% csrf_token %}
          <br></br>
          <div class="col-lg-2 control-label">
          <input type="submit" name="submit" value="OK"
            class="btn btn-default"></input></div>

        </form>
        <form method="post" action="{% url 'tasks:delete' id=task.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></button>
        </form>
      </div>
    </div>
{% endblock %}
